html, body, footer {
    padding: 0px;
    margin: 0px;
    color: black;
    max-width: 100%;
}

video {
    max-width: 100%;
}

.topbar_container {
    width: 100%;
    height: 64px;
    background-color: #FBFBFB; 
    z-index: 0;
}

.header_container {
    width: 100%;
    height: 64px;
    background-color: #FBFBFB;
    position: fixed;
    z-index: 1;
    padding-left: 24px;
    /* padding-right: 24px; */
    /* why doens't this work */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.colmaracademy_logo_container {
    display: inline-flex;
    align-items: center;
}

.colmaracademy_logo_container img {
    height: 60px;
    width: auto;
}

.colmaracademy_logo_container h1{
    font-size: 32px;
}

.header_navigation_container ul {
    list-style: none;
    display: inline-flex;
    padding-right: 24px;
    /* why do I need to do this? I'm confused why the padding doesn't work in the first place. */
}

.header_navigation_container ul li {
    padding-right: 16px;
    font-size: 32px;
}

.starthere_container {
    background-color: lightgray;
    display: inline-flex;
    max-width: 100%;
    padding: 32px 24px;
    /* justify-content: center; */
    justify-items: center;
}

.starthere_container .image_container {
    width: 60%;
    height: auto;
    align-content: center;
    align-items: center;
}

.starthere_container .image_container img {
    width: 100%;
    height: auto;
    display: block; 
}

.starthere_container .starthere_text_container {
    padding-left: 24px;
    max-width: 30%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}